<h1 style="text-align: center;">Event Binding</h1>

<div>
    <h1>Click Event</h1>
    <button (click)="onSave()">Save</button>
</div>
<div>
    <h1>Sending Input to Listener</h1>
    <button (click)="onClick('user')">Save</button>
</div>
<div>
    <h1>Getting Event Object</h1>
    <button (click)="getEvent($event)">EventObject</button>

</div>
<div>
    <h1>Getting input from the User and send to method</h1>
    <h2>{{message}}</h2>
    <div>
        <input (input)="onUpdate($event)" />

    </div>
    <div>
        <input (input)="message=$event.target.value" />

    </div>
    <div>
        <input [value]="message" (input)="message=$event.target.value" />

    </div>
    <div>
        <h1>Banana in a box notation</h1>
        <input [(ngModel)]="message">
    </div>

    <button (click)="getTextboxValue()">TextboxValue</button>
</div>