<div class="container">

<!-- <app-interpolation></app-interpolation> -->
<!-- <app-elementbinding></app-elementbinding>

<app-greeter [message]="'Hello'" ></app-greeter>
<app-greeter [message]="'hai'" ></app-greeter>
<app-greeter [message]="'greet'" ></app-greeter>

<app-greeter [message]="msg" ></app-greeter>
<app-employeecontainer></app-employeecontainer> -->
   <!-- <app-eventbinding></app-eventbinding> -->
   <!-- <app-style></app-style> -->
   <!-- <app-parent></app-parent> -->
<!-- <app-forloop></app-forloop> -->
<!-- <app-ifelse></app-ifelse> -->
<!-- <app-switchcase></app-switchcase> -->
<!-- <app-attribute></app-attribute> -->
<!-- <app-templatereference></app-templatereference> -->
<app-pipe></app-pipe>
</div>